:root {
  --brand-main: #15083E;
  --text-main: #FFFFFF; 
  --link-hover: #6CD3FF;
  --link-selected: #6CD3FF;
  --modal-bg: #fff;
  --message-error-color: #ef4444;
  --background-light: #f5f5f5;
  --transition-seconds: 0.2s;
}